{% extends 'flatpages/default.html'%}

{% block content %}
    <p>  </p>

<p> .<p/>
<ol>Все действия, которые вы должны выполнить для модификации приложения:
    <li>В <a href="/news/">классе-представлении списка статей</a> добавлена проверка аутентификации.,</li>
    <li>Выполнить необходимые настройки пакета allauth в файле конфигурации.</li>
    <li>В файле конфигурации определить адрес для перенаправления на страницу входа в систему и адрес перенаправления после успешного входа.</li>
    <li>Реализовать шаблон с формой<a href="/sign/login/"> входа в систему </a>и выполнить настройку конфигурации URL.</li>
    <li>Реализовать шаблон страницы <a href="/sign/signup/">регистрации пользователей.</a></li>
    <li>Реализовать возможность <a href="/accounts/login/">регистрации </a>через <a href="http://127.0.0.1:8000/accounts/google/login/?process=login&next=%2F">Google-аккаунт</a></li>
    <li>Создать группы common и authors (login:admin, password:admin)<a href="/admin/auth/group/">панель администратора</a></li>
    <li>Реализовать автоматическое добавление новых пользователей в группу common при <a href="/accounts/login/">регистрации через allauth модуль.</a></li>
    <li>Создать возможность стать автором (быть добавленным в группу authors)Войдите в систему под <a href="/sign/login/">(login:slava, password:12345678!).</a></li>
    <li>Для группы authors предоставить права создания и редактирования объектов модели Post (новостей и статей).</li>
    <li>В классах-представлениях добавления и редактирования новостей и статей добавить проверку прав доступа.</li>
    <li>Исходный код залить в git-репозиторий.</li>

{% endblock content %}